#BlogTitle {
    opacity: 0.7;
    width: auto;
    height: auto;
    position: absolute;
    top: 25%;
    left: 55%;
    margin: 1px;
    font-family: J811, Arial, cursive;
    font-style: normal;
    font-size: 30px;
    color: whitesmoke;
    display: inline-block;
    overflow: hidden;
    -moz-text-overflow: ellipsis-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#Blog-Box {
    background-color: black;
    opacity: 0.7;
    width: 40%;
    height: 60%;
    position: absolute;
    top: 30%;
    left: 55%;
    border: 2px solid;
    border-color: black;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px black;
    -ms-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    font-family: Arial, cursive;
    font-size: 18px;
    word-spacing: 3px;
    line-height: 130%;
    color: whitesmoke;
    text-align: justify;
    overflow-y: scroll;
}
