.Background {
    background-image: url("../../images/Background/blurBike.png");
    background-repeat: no-repeat;
    background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#Presentation-Page {
    background-color: gold;
}

#WorkSection {
    background-color: orange;
}

#SocialSection {
    background-color: orangered;
}

#ProjectsSection {
    background-color: firebrick;
}

/* Width and Heigth... just put it on the screen... :) */
.WindowSize {
    position: fixed;
    top: 2.5%;
    width: 200px;
    height: 20px;
    right: 8px;
    bottom: 0;
    margin: 1px;
    font-family: Arial, cursive;
    font-style: normal;
    line-height: 2px;
    font-size: 8px;
    color: #778899;
    text-align: right;
}

.WindowSize p {
    width: auto;
    height: 50%;
}

/* Scrool bar.... vertical... horizontal... good looking... :P*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #778899;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.75); 
}
