#SentiBox {
    background-color: black;
    -ms-opacity: 0.7;
    opacity: 0.7;
    width: 40%;
    height: 60%;
    position: absolute;
    top: 30%;
    left: 55%;
    border: 2px solid;
    border-color: black;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px black;
    -ms-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    font-family: Arial, cursive;
    font-size: 18px;
    word-spacing: 3px;
    line-height: 130%;
    color: whitesmoke;
    text-align: justify;
    margin: 0;
}

#VerticalMenu {
    position: absolute;
    top: 14%;
    left: 5%;
    width: 10%;
    margin: 0;
}

.VerticalMenuButton {
    border: 2px solid;
    border-color: white;
    opacity: 0.7;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 5% 0 0 0;
    cursor: pointer;
    position: relative;
    left: 0;
}

.ButtonPart {
    display: inline-block;
}

#StackDot {
    float: right;
    margin-right: 10%;
}

.circle {
    position: relative;
    top: 6px;
    width: 10px;
    height: 10px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: white;
}

#PiesBox {
    position: absolute;
    top: 13%;
    left: 33%;
    margin: 0;
    visibility: hidden;
}

#GroupedBarBox {
    position: absolute;
    top: 9%;
    left: 24%;
    margin: 0;
    visibility: hidden;
}

#GroupedBarTagsBox {
    position: absolute;
    top: 13%;
    left: 23%;
    margin: 0;
    visibility: hidden;
}

.axis path,
.axis line {
	fill: none;
	stroke: #ffffff;
	shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial, cursive;
    word-spacing: 3px;
    color: #ffffff;
	font-size: 10px;
}

.legend {
    font-family: Arial, cursive;
    font-size: 12px;
    color: #ffffff;
}

.bar:hover {
  fill: #ef750d;
}

.d3-tip {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    font-weight: bold;
    padding: 5px;
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    color: #fff;
    top: 100%;
    left: 0;
}

#ErrorMsg {
    position: absolute;
    top: 40%;
    left: 40%;
}