#SentiBox {
    background-color: black;
    opacity: 0.7;
    width: 40%;
    height: 60%;
    position: absolute;
    top: 30%;
    left: 55%;
    border: 2px solid;
    border-color: black;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px black;
    -ms-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    font-family: Arial, cursive;
    font-size: 18px;
    word-spacing: 3px;
    line-height: 130%;
    color: whitesmoke;
    text-align: justify;
    margin: 0;
}

#PiesBox {
    position: absolute;
    top: 34%;
    left: 2%;
    margin: 0;
}

#GroupedBarBox {
    position: absolute;
    top: 29%;
    left: 27%;
    margin: 0;
}

.axis path,
.axis line {
	fill: none;
	stroke: #ffffff;
	shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial, cursive;
    word-spacing: 3px;
    color: #ffffff;
	font-size: 10px;
}

.x.axis path {
  display: none;
}

.chart .title {
  font: 14px sans-serif;
}
