/* [...mobile styles here <= max-width: 600px...] */
/* [...tablets styles here > min-width: 600px...] */
/* [...desktop styles here > min-width: 900px...] */
.Work-Box {
    background-color: black;
    -ms-opacity: 0.8;
    opacity: 0.8;
    width: 20%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 5%;
    border: 2px solid;
    border-color: black;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px black;
    -ms-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.Work_Logo {
    position: relative;
    left: 5%;
    margin-top: 5%;
    width: 64px;
    height: 64px;
    display: inline-block;
}

.CV_Logo {
    position: relative;
    left: 80%;
    width: 32px;
    height: 32px;
    display: inline-block;
}

#Works-List {
    position: relative;
    margin-top: 3%;
    margin-bottom: 3%;
    left: 2%;
    width: 90%;
    height: auto;
    padding: 10px;
    font-family: Arial, cursive;
    font-size: 18px;
    word-spacing: 3px;
    line-height: 130%;
    color: whitesmoke;
    text-align: justify;
    display: inline-block;
}

.WorkTitle {
    width: auto;
    height: auto;
    margin: 3%;
    font-family: Arial, cursive;
    font-size: 17px;
    word-spacing: 3px;
    line-height: 130%;
    color: whitesmoke;
    text-align: justify;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
}

.WorkDescription {
    width: auto;
    height: auto;
    margin-left: 10%;
    font-family: Arial, cursive;
    font-size: 17px;
    word-spacing: 3px;
    line-height: 130%;
    color: whitesmoke;
    text-align: justify;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
}

.url {
    color: whitesmoke;
}