@font-face {
    font-family: Capture;
    src: url("../../fonts/Capture_it.ttf");
}

@font-face {
    font-family: J811;
    src: url("../../fonts/J811.ttf");
}

#Menu_Title1 {
    margin: 1px;
    font-family: Capture, Arial, cursive;
    font-style: normal;
    font-size: 40px;
    color: whitesmoke;
    display: inline-block;
    overflow: hidden;
    -moz-text-overflow: ellipsis-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#Menu_Title2 {
    margin: 1px;
    font-family: J811, Arial, cursive;
    font-style: normal;
    font-size: 20px;
    color: whitesmoke;
    display: inline-block;
    overflow: hidden;
    -moz-text-overflow: ellipsis-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Block text selection*/
.BlockSelection {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
}
